<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Started: Serving Web Content</title>
</head>

<body>
    <p th:text="'Hello, ' + ${name} + '!'"></p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi porro architecto fugiat, blanditiis quaerat
        numquam eaque, veritatis tempore odit, consectetur expedita culpa debitis aliquam excepturi at laudantium a
        illum possimus!
    </p>
    <img th:src="@{/images/rose.jpg}" width="900" height="600" />
</body>

</html>
